Blog 2012-08-13/WebContent/WEB-INF/lib/
test2/.project
test2/.classpath
test2/.settings/
test2/build/
test2/WebContent/VAADIN/widgetsets/
*/.settings/
*/.project
*/.classpath
*.log
*/WebContent/VAADIN/widgetsets/*
